@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* color */
  --primary-color: #002147;
  --secondary-color: #ffffff;
  --tertiary-color: #cc0202;
  --quaternary-color: #182746;
  /* fonts */
  --font-size-xl: 96px;
  --font-size-lg: 32px;
  --font-size-md: 20px;
  --font-size-sm: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
